@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  // colors
  --link-text-color: #000;

  // bg-colors
  --active-link-bg: #c4c4c4;

  // border-color
  --main-border-color: #000;
  --link-border-color: #c4c4c4;

  // fonts
  --rubik-font: 'Rubik', 'sans-serif';
}
