.select {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  position: relative;

  max-width: 500px;

  &:after {
    content: '';

    position: absolute;
    right: 22px;
    bottom: 20px;

    background-image: url('../../../../public/arrow.svg');
    background-repeat: no-repeat;
    width: 12px;
    height: 7px;

    pointer-events: none;

    z-index: 2;
  }

  & p {
    margin-bottom: 4px;
  }

  & select {
    width: 100%;
    padding: 16px 56px 16px 24px;

    color: var(--secondary-text-color);

    border: 1px solid var(--secondary-border-color);

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
      outline: none;
    }
  }
}
